/* =========================
   Document Card Style
========================= */
.doc-card {
  padding: 15px 15px ;
  border-radius: 8px;
  background: var(--background);
  border: var(--border-solid-color);
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  color: var(--text-color);
  font-weight: 400;  
}

.doc-card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.doc-card-row.two-items {
  grid-template-columns: repeat(2, minmax(220px, 300px));
  justify-content: center;
}

.doc-card-row.one-items {
  display: grid;
  grid-template-columns: minmax(220px, 300px);
  justify-content: center;
  gap: 30px;
}

.step-card .doc-card-row + .doc-card-row {
  margin-top: 30px;
}

.doc-card:hover {
  transform: scale(1.03);
  color: var(--link-hover-color);
}

 .doc-card-actions .doc-card-action {
  font-weight: normal;
  text-decoration: underline;
}

.doc-card-actions .doc-card-action:hover {
  text-decoration: none;
}